html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  font-family: "Press Start 2P";
  background: #000;
}

body:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: repeating-linear-gradient(
    #0d122b,
    #0d122b 2px,
    #565b73 2px,
    #565b73 4px
  );
  opacity: 0.2;
  z-index: 100;
  content: "";
  pointer-events: none;
}

/* ===== menu section ===== */
.menu {
  position: relative;
  left: -2rem;
}

.menu > h3 {
  font-family: "Press Start 2P";
  font-size: 20px;
  color: rgb(147, 154, 255);
  text-shadow: 2px 2px 0 rgb(47, 61, 255);
}

.menu .menuOptions > h3 {
  position: relative;
  left: 21rem;
  margin: 15px;
  width: 50%;
  text-decoration: none;
  font-size: 20px;
}

.menuOptions h3:hover {
  background: repeating-linear-gradient(
    #0d122b,
    #0d122b 2px,
    #565b73 2px,
    #565b73 4px
  );
}

.retroStyle {
  font-family: "Press Start 2P";
  color: rgb(192, 192, 192);
  text-shadow: 2px 2px 0 rgb(192, 11, 11);
  background: #000;
}

.startBttn {
  position: relative;
  left: 0rem;
  font-size: 30px;
}

.startBttn:hover {
  background: repeating-linear-gradient(
    #0d122b,
    #0d122b 2px,
    #565b73 2px,
    #565b73 4px
  );
}

.gameover h1 {
  position: absolute;
  bottom: 50px;
}

/* ===== end menu section ===== */

/* ===== start - landing page section ===== */
.dots-container {
  position: relative;
  padding-top: 15px;
  text-align: center;
  font-size: 50px;
  padding: 50px * 4;
}

.dots-container h1 {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90px;
  color: white;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe,
    4px 0 0 #4405fc;

  animation: blink 1s steps(4, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

/* ===== start initPage ===== */
.st {
  width: 625px;
  margin: 6rem auto 3rem auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  font-family: "ITC Benguiat W01";
  font-weight: 800;
  color: #1c0502;
  text-shadow: -0.05rem -0.05rem 10px #ed2b12, 0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12, 0.05rem 0.05rem 1px #ed2b12, 0 0 15px #630100,
    0 0 20px #450100;
  letter-spacing: -2px;
}

.st p {
  display: inline-block;
  margin: 0;
}

.st-bound {
  box-shadow: -0.05rem -0.05rem 2px #ed2b12, 0.05rem -0.05rem 2px #ed2b12,
    -0.05rem 0.05rem 2px #ed2b12, 0.05rem 0.05rem 2px #ed2b12;
  height: 5px;
}

.st-bound-full {
  width: 98%;
  margin: auto;
  margin-bottom: -0.8rem;
  max-width: 612px;
  margin-left: 25px;
}

.st-bound-mini {
  margin-top: 0.5rem;
}

.st-bound-left {
  float: left;
  width: 100px;
  position: relative;
  left: 30px;
  top: 1.7rem;
}

.st-bound-right {
  float: right;
  width: 119px;
  left: 0.8rem;
  position: relative;
  top: 1.6rem;
}

.st-bottom {
  clear: both;
  top: -1.8rem;
  position: relative;
  left: 1rem;
  letter-spacing: -9px;
  font-size: 100px;
}

.st-drop {
  line-height: 0;
  position: relative;
  top: 3.1rem;
}

.st-stranger-s {
  font-size: 10.5rem;
  letter-spacing: -30px;
}

.st-stranger-t {
  letter-spacing: -22px;
}

.st-stranger-r {
  letter-spacing: -22px;
}

.st-stranger-a {
  letter-spacing: -22px;
}

.st-stranger-n {
  letter-spacing: -22px;
}

.st-stranger-g {
  letter-spacing: -22px;
}

.st-stranger-e {
  letter-spacing: -122px;
}

.st-stranger-r-2 {
  font-size: 10.5rem;
  right: -2.3rem;
}

.st-dots-d {
  font-size: 104%;
  letter-spacing: 2px;
}

.st-dots-o {
  letter-spacing: -5px;
}

.st-dots-t {
  letter-spacing: -3px;
}

.st-dots-s {
  letter-spacing: -1px;
}

/* ===== end initPage ===== */
/* ===== footer section ===== */

.footer p {
  position: absolute;
  bottom: 10px;
  left: 600px;
  font-size: 10px;
  color: rgb(226, 179, 24);
  text-shadow: 0 2px 0 rgb(107, 77, 11), 2px 0 0 rgb(151, 109, 19),
    2px 2px 0 rgb(151, 109, 19);
}
