body {
  background: #000;
}

.lightrope {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  width: 260px;
}

li {
  position: relative;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 42px;
  height: 78px;
  border-radius: 50%;
  margin: 40px/2;
  display: inline-block;
  background: rgba(0, 247, 165, 1);
  box-shadow: 0px 78px/6 42px*2 3px rgba(0, 247, 165, 1);
  animation-name: flash-1;
  animation-duration: 2s;
}

li:nth-child(2n+1) {
  background: rgba(0, 255, 255, 1);
  box-shadow: 0px 78px/6 42px*2 3px rgba(0, 255, 255, 0.5);
  animation-name: flash-2;
  animation-duration: 0.4s;
}

li:nth-child(4n+2) {
  background: rgba(247, 0, 148, 1);
  box-shadow: 0px 78px/6 42px*2 3px rgba(247, 0, 148, 1);
  animation-name: flash-3;
  animation-duration: 1.1s;
}

li:nth-child(odd) {
  animation-duration: 1.8s;
}

li:nth-child(3n+1) {
  animation-duration: 1.4s;
}

li:before {
  content: "";
  position: absolute;
  background: #222;
  width: 40px;
  height: 17px;
  border-radius: 3px;
  top: 0;
  left: 1px;
}

li:after {
  content: "";
  top: 2px;
  left: 40px;
  position: absolute;
  width: 40px;
  height: 17px;
  border-bottom: solid #222 2px;
  border-radius: 50%;
}

li:last-child:after {
  content: none;
}

li:first-child {
  margin-left: -40px;
}



@keyframes flash-1 {

  0%,
  100% {
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px 78px/6 42px*2 3px rgba(0, 247, 165, 1);
  }

  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0px 78px/6 42px*2 3px rgba(0, 247, 165, 0.2);
  }
}

@keyframes flash-2 {

  0%,
  100% {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 78px/6 42px*2 3px rgba(0, 255, 255, 1);
  }

  50% {
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0px 78px/6 42px*2 3px rgba(0, 255, 255, 0.2);
  }
}

@keyframes flash-3 {

  0%,
  100% {
    background: rgba(247, 0, 148, 1);
    box-shadow: 0px 78px/6 42px*2 3px rgba(247, 0, 148, 1);
  }

  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 78px/6 42px*2 3px rgba(247, 0, 148, 0.2);
  }
}