/* enmarcar con linea de puntos */
.selectable .ui-selecting {
  border: 2px dashed #ff0000;
}

/* marco rojo cuando esta seleccionado */
.selectable .ui-selected {
  border: 2px solid #fa0000;
}

/* borde blanco de las cajas */
.selectable img {
  margin: 5px;
  padding: 5px;
  border: 2px solid #ffffff;
}

/* .selected-items {
  border: 2px solid #ff0000;
  line-height: 32px;
} */